#form {
  @import "variables";
  @import "../../node_modules/bootstrap/scss/functions";
  @import "../../node_modules/bootstrap/scss/variables";
  @import "../../node_modules/bootstrap/scss/mixins";

  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

  ul.icon-options {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    border: 1px solid $gray-400;
    li {
      width: 100%;
      text-align: center;
      padding: 0.25rem 0.75rem;
      font-size: large;
      border-left: 1px solid $gray-400;
      &:first-of-type {
        border-left: none;
      }
      &:hover, .active {
        cursor: pointer;
        background-color: $gold;
        color: white;
      }
    }
  }

  @import "../../node_modules/bootstrap/scss/bootstrap";
}



