@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
@import "variables";

@font-face {
  font-family: "Klavika";
  src: url("./fonts/Klavika Regular.otf") format("opentype");
}

@font-face {
  font-family: "Klavika";
  src: url("./fonts/Klavika Medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Klavika";
  src: url("./fonts/Klavika Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Bold-webfont.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Reg-webfont.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Proxima Nova Semibold.otf") format("opentype");
  font-weight: 600;
}

.sign-container {
  margin-right: 1rem;
  margin-top: 1rem;
  @media print {
    margin: 0;
  }
}

#sign-preview {
  box-sizing: border-box;
  padding-left: 0.5in;
  padding-right: 0.5in;
  border: 1px solid $gray-400;
  @media print {
    border: none;
    padding: 0;
    margin: 0;
  }
  color: $green;
  border-radius: 2px;
  font-family: "Klavika", sans-serif;
  margin-bottom: 1rem;
}

.bottom-logo {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0.40in;
  @media print {
    margin-bottom: 0;
  }
}

.left-logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5in;
  height: 90%;
  @media print {
    height: 98%;
  }
}

h3 {
  font-size: 42px;
  font-weight: 600;
}

.college-name {
  margin-top: auto;
  margin-bottom: 0.6in;
  @media print {
    margin-bottom: 20px;
  }
  .chhs-text {
    font-family: "Proxima Nova";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    line-height: 1.1;
    margin-bottom: 0;
  }
  .csu-text {
    margin-top: 0.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Klavika";
    font-weight: bold;
  }
}

.sign-title {
  margin-bottom: 1.6rem;
  margin-top: 0.5in;
  font-weight: 700;
  @media print {
    margin-top: 0;
  }
}

@page {
  margin: 0;
}
